/*Landging CSS*/
* {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
body {
  background-image:url('../img/bees.gif');
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#myVideo {
  backgroud-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.Title {
  bottom: 0;
  font-size: 50px;
  text-align: center;
  margin: 50px;
  color: white;
  font-weight: bold;
  line-height: 45px;
  padding: 10px;
  overflow: hidden;
}
#line1 {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}
#line2 {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}

.text-center {
  margin-top: 150px;
}


/*Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (mix-width: 600px) {
  #line1 {
    display: none;
  }
  #line2 {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
