/* CSS TRAVELLING */
.T {
  text-align: center;
  margin: 0 auto;
}

.T2 {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.travelling {
  text-align: justify;
  font-size: 18px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.floating-box {
  display: inline-block;
  float: left;
}
